openapi: 3.0.3
info:
  title: TripKing API
  version: 0.1.0
  description: >
    Outstation cab marketplace REST API. Wire format is snake_case; every response uses the
    envelope `{ success, data, meta?, error }` (meta on lists, error non-null on failure).
    This document currently covers the `/admin/*` master-data endpoints (Phase 2); the
    marketplace endpoints (`/auth`, `/trips`, `/drivers`, `/vacancies`, …) follow in Phase 3.
servers:
  - url: https://api.tripking.in
tags:
  - name: admin
    description: Administration master-data (the configurable lookup tables — see §7 of the spec).
  - name: drivers
    description: Driver profiles + the "create my driver/agent profile" route.
  - name: agents
    description: Agent (trip-manager) profiles.
  - name: vacancies
    description: Driver availability posts (driver is in city X, willing to drive to one of these destinations).
  - name: alerts
    description: Saved searches that fire a notification on a matching trip/vacancy (owner-scoped).
  - name: reviews
    description: Post-trip ratings (passenger→driver, manager→driver, driver→manager).
components:
  schemas:
    ApiError:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
    Envelope:
      type: object
      properties:
        success: { type: boolean }
        data: {}
        meta:
          type: object
          nullable: true
        error:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/ApiError'
  parameters:
    list:
      name: list
      in: path
      required: true
      description: Which master-data list.
      schema:
        type: string
        enum: [car-types, fuel-types, vehicle-makes, vehicle-models, seat-options, cities, languages, review-tags, cancel-reasons]
    id:
      name: id
      in: path
      required: true
      description: Row key — uuid for most lists, the `value` int for seat-options, the BCP-47 `code` for languages.
      schema: { type: string }
  securitySchemes:
    AdminKey:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: >
        Required on every mutating `/admin/*` call. STOPGAP — this becomes a `role=admin`
        bearer-token check once `public.users` + the auth backend land.
  responses:
    Envelope:
      description: Standard envelope response.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Envelope' }
paths:
  /admin/{list}:
    get:
      tags: [admin]
      summary: List a master-data list (active rows by default)
      parameters:
        - $ref: '#/components/parameters/list'
        - { name: include_inactive, in: query, schema: { type: boolean }, description: include soft-disabled rows (admin view) }
        - { name: make_id, in: query, schema: { type: string }, description: 'vehicle-models only — filter to a make' }
        - { name: category, in: query, schema: { type: string }, description: 'review-tags only — filter to a vocabulary' }
        - { name: applies_to, in: query, schema: { type: string }, description: 'cancel-reasons only' }
      responses:
        '200': { $ref: '#/components/responses/Envelope' }
    post:
      tags: [admin]
      summary: Create a row
      security: [{ AdminKey: [] }]
      parameters: [{ $ref: '#/components/parameters/list' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, description: the row's columns (snake_case) }
      responses:
        '200': { $ref: '#/components/responses/Envelope' }
        '409': { $ref: '#/components/responses/Envelope' }
        '422': { $ref: '#/components/responses/Envelope' }
        '403': { $ref: '#/components/responses/Envelope' }
  /admin/{list}/{id}:
    patch:
      tags: [admin]
      summary: Update a row (partial; include `is_active` to enable/disable)
      security: [{ AdminKey: [] }]
      parameters: [{ $ref: '#/components/parameters/list' }, { $ref: '#/components/parameters/id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200': { $ref: '#/components/responses/Envelope' }
        '404': { $ref: '#/components/responses/Envelope' }
        '409': { $ref: '#/components/responses/Envelope' }
        '422': { $ref: '#/components/responses/Envelope' }
    delete:
      tags: [admin]
      summary: Delete a row — 409 `IN_USE` if it is referenced (disable it instead)
      security: [{ AdminKey: [] }]
      parameters: [{ $ref: '#/components/parameters/list' }, { $ref: '#/components/parameters/id' }]
      responses:
        '200': { $ref: '#/components/responses/Envelope' }
        '404': { $ref: '#/components/responses/Envelope' }
        '409': { $ref: '#/components/responses/Envelope' }
  /admin/{list}/reorder:
    patch:
      tags: [admin]
      summary: Reorder a list — sets `sort_order = (index + 1) * 10`
      security: [{ AdminKey: [] }]
      parameters: [{ $ref: '#/components/parameters/list' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids: { type: array, items: { type: string } }
      responses:
        '200': { $ref: '#/components/responses/Envelope' }
        '400': { $ref: '#/components/responses/Envelope' }
  /admin/app-settings:
    get:
      tags: [admin]
      summary: Get the single-row platform config
      responses:
        '200': { $ref: '#/components/responses/Envelope' }
    put:
      tags: [admin]
      summary: Update the platform config (partial)
      security: [{ AdminKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                min_vehicle_year: { type: integer }
                vehicle_expiry_warning_days: { type: integer }
                default_alert_radius_km: { type: integer }
                default_commission_pct: { type: number }
                default_gst_pct: { type: number, description: a percentage }
                default_driver_bata: { type: number, description: flat ₹ amount }
                default_extras_paid_by_passenger: { type: boolean }
                default_driver_instructions: { type: string }
      responses:
        '200': { $ref: '#/components/responses/Envelope' }
        '422': { $ref: '#/components/responses/Envelope' }
  /auth/request-otp:
    post: { tags: [auth], summary: Request an SMS OTP (DEV mode returns it), requestBody: { required: true, content: { application/json: { schema: { type: object, required: [phone], properties: { phone: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' } } }
  /auth/verify-otp:
    post: { tags: [auth], summary: 'Verify an OTP → { user, access_token, refresh_token }', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [phone, otp], properties: { phone: { type: string }, otp: { type: string }, display_name: { type: string }, role: { type: string, enum: [driver, trip_manager, admin] } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' } } }
  /auth/refresh:
    post: { tags: [auth], summary: 'Exchange a refresh token for a new pair', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [refresh_token], properties: { refresh_token: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' } } }
  /auth/logout:
    post: { tags: [auth], summary: 'Best-effort server logout (Bearer)', responses: { '200': { $ref: '#/components/responses/Envelope' } } }
  /auth/me:
    get: { tags: [auth], summary: 'The current user (Bearer)', responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' } } }
  /trips:
    get: { tags: [trips], summary: 'List trips', parameters: [{ name: status, in: query, schema: { type: string } }, { name: from_city_id, in: query, schema: { type: string } }, { name: to_city_id, in: query, schema: { type: string } }, { name: posted_by_user_id, in: query, schema: { type: string } }, { name: limit, in: query, schema: { type: integer } }], responses: { '200': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [trips], summary: 'Post a trip (Bearer) — total_fare computed if omitted; driver_payout via trigger', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [from_city_id, to_city_id, pickup_at, car_type_id, expected_distance_km, rate_per_km] } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}:
    get: { tags: [trips], summary: 'Get a trip', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}/applicants:
    get: { tags: [trips], summary: 'List applicants (poster/admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [trips], summary: 'Apply to a trip (driver; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { content: { application/json: { schema: { type: object, properties: { vehicle_id: { type: string }, applicant_quoted_rate_per_km: { type: number }, applicant_message: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}/applicants/{aid}:
    delete: { tags: [trips], summary: 'Withdraw an application (owning driver/admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }, { name: aid, in: path, required: true, schema: { type: string } }], responses: { '200': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}/applicants/{aid}/reject:
    post: { tags: [trips], summary: 'Reject an applicant (poster/admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }, { name: aid, in: path, required: true, schema: { type: string } }], responses: { '200': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}/assign:
    post: { tags: [trips], summary: 'Assign a driver (poster/admin; Bearer) — selects one acceptance, rejects the rest, generates the passenger OTP', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [acceptance_id], properties: { acceptance_id: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}/start:
    post: { tags: [trips], summary: 'Start the trip (assigned driver/admin; Bearer) — verifies the passenger OTP → in_progress', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [passenger_otp], properties: { passenger_otp: { type: string }, start_odo_url: { type: string }, start_odo_reading: { type: integer } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}/complete:
    post: { tags: [trips], summary: 'Complete the trip (assigned driver/admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { content: { application/json: { schema: { type: object, properties: { end_odo_url: { type: string }, end_odo_reading: { type: integer }, driver_notes: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}/cancel:
    post: { tags: [trips], summary: 'Cancel the trip (poster/admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { content: { application/json: { schema: { type: object, properties: { cancel_reason_id: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' } } }
  /notifications:
    get: { tags: [notifications], summary: 'The caller''s notifications (Bearer)', parameters: [{ name: unread_only, in: query, schema: { type: boolean } }, { name: limit, in: query, schema: { type: integer } }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' } } }
  /notifications/{id}:
    patch: { tags: [notifications], summary: 'Mark a notification read (own only; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { content: { application/json: { schema: { type: object, properties: { is_read: { type: boolean } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /notifications/read-all:
    post: { tags: [notifications], summary: 'Mark all the caller''s notifications read (Bearer)', responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' } } }
  /vehicles:
    get: { tags: [vehicles], summary: 'List vehicles (eligibility_status derived)', parameters: [{ name: driver_id, in: query, schema: { type: string } }, { name: include_inactive, in: query, schema: { type: boolean } }], responses: { '200': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [vehicles], summary: 'Add a vehicle (driver; Bearer) — driver_id = the caller', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [car_type_id, year] } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /vehicles/{id}:
    get: { tags: [vehicles], summary: 'Get a vehicle', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
    patch: { tags: [vehicles], summary: 'Update a vehicle (owning driver/admin; Bearer) — include is_active to enable/disable', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
    delete: { tags: [vehicles], summary: 'Delete a vehicle (owning driver/admin; Bearer) — 409 IN_USE if referenced', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' } } }
  /drivers:
    get: { tags: [drivers], summary: 'List driver profiles (public) — joins home/current city + vehicle summaries', parameters: [{ name: current_city_id, in: query, schema: { type: string } }, { name: kyc_status, in: query, schema: { type: string } }, { name: limit, in: query, schema: { type: integer } }], responses: { '200': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [drivers], summary: 'Create my driver profile (Bearer; user_id = caller). Pass role=trip_manager to create an agent profile instead. Idempotent — returns the existing profile if one already exists.', requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { full_name: { type: string }, role: { type: string, enum: [driver, trip_manager] }, home_city_id: { type: string }, current_city_id: { type: string }, phone: { type: string }, email: { type: string }, profile_photo_url: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /drivers/{id}:
    get: { tags: [drivers], summary: 'Get a driver profile', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
    patch: { tags: [drivers], summary: 'Update a driver profile (owner/admin; Bearer) — full_name, email, home_city_id, current_city_id, profile_photo_url', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { full_name: { type: string }, email: { type: string }, home_city_id: { type: string }, current_city_id: { type: string }, profile_photo_url: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /drivers/{id}/location:
    patch: { tags: [drivers], summary: 'Update a driver''s current location (owner; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { current_city_id: { type: string }, current_lat: { type: number }, current_lng: { type: number }, current_location_at: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /agents:
    get: { tags: [agents], summary: 'List agent (trip-manager) profiles (public)', parameters: [{ name: business_city_id, in: query, schema: { type: string } }, { name: kyc_status, in: query, schema: { type: string } }, { name: limit, in: query, schema: { type: integer } }], responses: { '200': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [agents], summary: 'Create my agent profile (Bearer; user_id = caller; users.role → trip_manager). Idempotent.', requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { full_name: { type: string }, business_name: { type: string }, business_city_id: { type: string }, phone: { type: string }, email: { type: string }, profile_photo_url: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /agents/{id}:
    get: { tags: [agents], summary: 'Get an agent profile (joins business city)', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
    patch: { tags: [agents], summary: 'Update an agent profile (owner/admin; Bearer) — full_name, email, business_name, business_city_id, profile_photo_url', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { full_name: { type: string }, email: { type: string }, business_name: { type: string }, business_city_id: { type: string }, profile_photo_url: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /vacancies:
    get: { tags: [vacancies], summary: 'List vacancies (public) — joins driver+vehicle summary, current city, destination cities', parameters: [{ name: current_city_id, in: query, schema: { type: string } }, { name: destination_city_id, in: query, schema: { type: string } }, { name: status, in: query, schema: { type: string } }, { name: driver_id, in: query, schema: { type: string } }, { name: limit, in: query, schema: { type: integer } }], responses: { '200': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [vacancies], summary: 'Post a vacancy (driver; Bearer) — driver_id = the caller; destination_city_ids → vacancy_destinations rows', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [current_city_id], properties: { current_city_id: { type: string }, vehicle_id: { type: string }, available_from: { type: string }, available_until: { type: string }, destination_city_ids: { type: array, items: { type: string } }, min_rate_per_km: { type: number }, notes: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /vacancies/{id}:
    get: { tags: [vacancies], summary: 'Get a vacancy', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /vacancies/{id}/cancel:
    post: { tags: [vacancies], summary: 'Cancel a vacancy (owning driver/admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' } } }
  /alerts:
    get: { tags: [alerts], summary: 'List my alerts (Bearer) — joins from/to city', responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [alerts], summary: 'Create an alert (Bearer; user_id = caller) — from_city_id required', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [from_city_id], properties: { name: { type: string }, from_city_id: { type: string }, from_radius_km: { type: integer }, to_city_id: { type: string }, to_radius_km: { type: integer }, min_rate_per_km: { type: number }, min_commission_pct: { type: number }, car_type_ids: { type: array, items: { type: string } }, pickup_window_start: { type: string }, pickup_window_end: { type: string }, notify_via: { type: array, items: { type: string, enum: [push, sms, email, in_app] } }, is_active: { type: boolean } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /alerts/{id}:
    get: { tags: [alerts], summary: 'Get an alert (owner/admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
    patch: { tags: [alerts], summary: 'Update an alert (owner; Bearer) — partial; include is_active/paused_at to pause/resume', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
    delete: { tags: [alerts], summary: 'Delete an alert (owner; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /reviews:
    get: { tags: [reviews], summary: 'List reviews (published rows + the caller''s own when authed; admins see all)', parameters: [{ name: trip_id, in: query, schema: { type: string } }, { name: ratee_user_id, in: query, schema: { type: string } }, { name: direction, in: query, schema: { type: string, enum: [passenger_to_driver, manager_to_driver, driver_to_manager] } }, { name: limit, in: query, schema: { type: integer } }], responses: { '200': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [reviews], summary: 'Post a review (Bearer; rater_user_id = caller) — the trip must be completed; unique (trip_id, direction); ratee_user_id derived from the trip if omitted; fires a review_received notification', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [trip_id, direction, score], properties: { trip_id: { type: string }, direction: { type: string, enum: [passenger_to_driver, manager_to_driver, driver_to_manager] }, score: { type: integer, minimum: 1, maximum: 5 }, comment: { type: string }, tag_ids: { type: array, items: { type: string } }, ratee_user_id: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /reviews/{id}/report:
    post: { tags: [reviews], summary: 'Report a review (any authed user; Bearer) — sets is_flagged + flag_reason', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { content: { application/json: { schema: { type: object, properties: { flag_reason: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /reviews/{id}:
    get: { tags: [reviews], summary: 'Get a review (published, or own, or admin)', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
