openapi: 3.0.3
info:
  title: TripKing API
  version: 0.1.0
  description: >
    Outstation cab marketplace REST API. Wire format is snake_case; every response uses the
    envelope `{ success, data, meta?, error }` (meta on lists, error non-null on failure).
    This document currently covers the `/admin/*` master-data endpoints (Phase 2); the
    marketplace endpoints (`/auth`, `/trips`, `/drivers`, `/vacancies`, …) follow in Phase 3.
servers:
  - url: https://api.tripking.in
tags:
  - name: admin
    description: Administration master-data (the configurable lookup tables — see §7 of the spec).
  - name: auth
    description: Phone-OTP authentication.
  - name: trips
    description: Trip lifecycle.
  - name: notifications
    description: In-app inbox.
  - name: vehicles
    description: Driver vehicles.
  - name: drivers
    description: Driver profiles + the "create my driver/agent profile" route.
  - name: agents
    description: Agent (trip-manager) profiles.
  - name: vacancies
    description: Driver availability posts (driver is in city X, willing to drive to one of these destinations).
  - name: alerts
    description: Saved searches that fire a notification on a matching trip/vacancy (owner-scoped).
  - name: vacancy-invitations
    description: An agent invites a vacancy-posting driver to one of their open trips; the driver accepts (inserts a trip_acceptances row — the PII reveal gate) or declines.
  - name: reviews
    description: Post-trip ratings (passenger→driver, manager→driver, driver→manager).
  - name: analytics
    description: Server-computed analytics — the platform dashboard (admin), per-agent analytics, and the API-metrics rollup (admin).
  - name: video-verifications
    description: Driver/manager video-call verification — slot booking, the call record, and the admin finalize.
  - name: places
    description: Maps-backed locations — a server-side geocoder proxy (search) and find-or-create for a `places` row.
  - name: debug
    description: Admin-only deliberate-failure endpoints — exercise the exception pipeline (front end / edge functions → Sentry). Safe to leave deployed. See `docs/EXCEPTION_HANDLING.md`.
  - name: passengers
    description: Passenger directory — one row per passenger phone seen on a trip. Read-only API; the canonical row is upserted by the `trips` POST handler (migration 019). Admin reads the full list; any authenticated user can do a phone-exact lookup to prefill the post-trip form.
  - name: bug-reports
    description: Bug tracker. Submission is gated by `users.can_report_bugs` (admins always allowed); admins manage status / comments / attachments. Storage bucket `bug-attachments` is private (signed UPLOAD/DOWNLOAD URLs only). Notification fan-out — every admin gets a `bug_reported` on create; the reporter gets `bug_resolved` on transition to resolved; comments mirror-notify the other party.
components:
  schemas:
    ApiError:
      type: object
      description: >-
        Returned inside the envelope's `error` on any non-2xx response. Every error —
        including unhandled exceptions — is delivered in this shape; an unhandled
        exception yields `{ code: "INTERNAL" }` with status 500 (never a raw runtime error)
        and is reported to Sentry (`source=edge-fn`).
      properties:
        code:
          type: string
          description: >-
            Machine-readable code. Standard values: VALIDATION (400/422), UNAUTHORIZED (401),
            FORBIDDEN (403), NOT_FOUND (404), CONFLICT (409), RATE_LIMITED (429), DB_ERROR (4xx),
            INTERNAL (500). Some endpoints add specific codes (e.g. INVALID_OTP, BAD_JSON).
        message: { type: string }
    Envelope:
      type: object
      properties:
        success: { type: boolean }
        data: {}
        meta:
          type: object
          nullable: true
        error:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/ApiError'
  parameters:
    list:
      name: list
      in: path
      required: true
      description: Which master-data list.
      schema:
        type: string
        enum: [car-types, fuel-types, vehicle-makes, vehicle-models, seat-options, cities, languages, review-tags, cancel-reasons]
    id:
      name: id
      in: path
      required: true
      description: Row key — uuid for most lists, the `value` int for seat-options, the BCP-47 `code` for languages.
      schema: { type: string }
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Supabase access token from `POST /auth/verify-otp`. Authenticated endpoints validate it;
        every mutating `/admin/*` call additionally requires `users.role === 'admin'`.
  responses:
    Envelope:
      description: Standard envelope response.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Envelope' }
paths:
  /admin/{list}:
    get:
      tags: [admin]
      summary: List a master-data list (active rows by default)
      parameters:
        - $ref: '#/components/parameters/list'
        - { name: include_inactive, in: query, schema: { type: boolean }, description: include soft-disabled rows (admin view) }
        - { name: make_id, in: query, schema: { type: string }, description: 'vehicle-models only — filter to a make' }
        - { name: category, in: query, schema: { type: string }, description: 'review-tags only — filter to a vocabulary' }
        - { name: applies_to, in: query, schema: { type: string }, description: 'cancel-reasons only' }
      responses:
        '200': { $ref: '#/components/responses/Envelope' }
    post:
      tags: [admin]
      summary: Create a row
      security: [{ BearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/list' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, description: the row's columns (snake_case) }
      responses:
        '200': { $ref: '#/components/responses/Envelope' }
        '409': { $ref: '#/components/responses/Envelope' }
        '422': { $ref: '#/components/responses/Envelope' }
        '403': { $ref: '#/components/responses/Envelope' }
  /admin/{list}/{id}:
    patch:
      tags: [admin]
      summary: Update a row (partial; include `is_active` to enable/disable)
      security: [{ BearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/list' }, { $ref: '#/components/parameters/id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200': { $ref: '#/components/responses/Envelope' }
        '404': { $ref: '#/components/responses/Envelope' }
        '409': { $ref: '#/components/responses/Envelope' }
        '422': { $ref: '#/components/responses/Envelope' }
    delete:
      tags: [admin]
      summary: Delete a row — 409 `IN_USE` if it is referenced (disable it instead)
      security: [{ BearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/list' }, { $ref: '#/components/parameters/id' }]
      responses:
        '200': { $ref: '#/components/responses/Envelope' }
        '404': { $ref: '#/components/responses/Envelope' }
        '409': { $ref: '#/components/responses/Envelope' }
  /admin/{list}/reorder:
    patch:
      tags: [admin]
      summary: Reorder a list — sets `sort_order = (index + 1) * 10`
      security: [{ BearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/list' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids: { type: array, items: { type: string } }
      responses:
        '200': { $ref: '#/components/responses/Envelope' }
        '400': { $ref: '#/components/responses/Envelope' }
  /admin/app-settings:
    get:
      tags: [admin]
      summary: Get the single-row platform config
      responses:
        '200': { $ref: '#/components/responses/Envelope' }
    put:
      tags: [admin]
      summary: Update the platform config (partial)
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                min_vehicle_year: { type: integer }
                vehicle_expiry_warning_days: { type: integer }
                default_alert_radius_km: { type: integer }
                default_commission_pct: { type: number }
                default_gst_pct: { type: number, description: a percentage }
                default_driver_bata: { type: number, description: flat ₹ amount }
                default_extras_paid_by_passenger: { type: boolean }
                default_driver_instructions: { type: string }
      responses:
        '200': { $ref: '#/components/responses/Envelope' }
        '422': { $ref: '#/components/responses/Envelope' }
  /admin/places:
    get: { tags: [admin], summary: 'Browse the geocoded places — admin tool for curating the `places` table (incl. inactive). Filters: city_id, provider, q (name ilike), active (true|false), limit.', security: [{ BearerAuth: [] }], parameters: [{ name: city_id, in: query, schema: { type: string } }, { name: provider, in: query, schema: { type: string } }, { name: q, in: query, schema: { type: string } }, { name: active, in: query, schema: { type: string, enum: ['true', 'false'] } }, { name: limit, in: query, schema: { type: integer } }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
  /admin/places/{id}:
    patch: { tags: [admin], summary: 'Edit a place (admin) — is_active / city_id / name / formatted_address / state. Deactivate (is_active=false) instead of deleting if it''s referenced.', security: [{ BearerAuth: [] }], parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { is_active: { type: boolean }, city_id: { type: string }, name: { type: string }, formatted_address: { type: string }, state: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
    delete: { tags: [admin], summary: 'Delete a place (admin) — 409 IN_USE if any *_place_id FK references it (deactivate or merge it instead).', security: [{ BearerAuth: [] }], parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' } } }
  /admin/places/{id}/merge:
    post: { tags: [admin], summary: 'Merge (dedupe) — repoint every *_place_id FK from {id} (the loser) to {into} (the winner), then delete {id}. Atomic. Returns { merged, into, fk_rows_repointed }.', security: [{ BearerAuth: [] }], parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [into], properties: { into: { type: string, description: 'the place id to keep' } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /admin/users:
    get: { tags: [admin], summary: 'List user accounts (admin) — filter by role / active / q (phone|email|display_name ilike); limit (default 100, max 500), newest first.', security: [{ BearerAuth: [] }], parameters: [{ name: role, in: query, schema: { type: string, enum: [driver, trip_manager, admin] } }, { name: active, in: query, schema: { type: string, enum: ['true', 'false'] } }, { name: q, in: query, schema: { type: string } }, { name: limit, in: query, schema: { type: integer } }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
  /admin/users/{id}:
    get: { tags: [admin], summary: 'Get a user account (admin).', security: [{ BearerAuth: [] }], parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
    patch: { tags: [admin], summary: 'Update a user account (admin) — { is_active?, role?, display_name?, can_report_bugs?, reason? }. can_report_bugs flips the per-user gate that lets the user submit /bug-reports (admins are always allowed regardless of the flag). is_active is the ACCOUNT-level kill switch: when false the account can''t get a new session (/auth verify-otp & refresh → 403) and gets an account_status_change notification; this is distinct from PATCH /drivers|/agents/{id}/active, which only deactivates the marketplace *profile* (the user can still sign in & see a "suspended" banner). role grants/revokes administrator (or driver / trip_manager). You cannot deactivate or demote your own account (422). Audit-logged with the actor''s id (+ the reason).', security: [{ BearerAuth: [] }], parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { is_active: { type: boolean }, role: { type: string, enum: [driver, trip_manager, admin] }, display_name: { type: string }, can_report_bugs: { type: boolean, description: 'gate for /bug-reports submission (admins always allowed)' }, reason: { type: string, description: 'shown to the user when suspending; recorded in the audit log' } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /auth/request-otp:
    post: { tags: [auth], summary: 'Request an SMS OTP — PLACEHOLDER (no SMS provider yet): always succeeds and returns the dev OTP "12345" in dev_otp', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [phone], properties: { phone: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' } } }
  /auth/verify-otp:
    post: { tags: [auth], summary: 'Verify an OTP → { user, access_token, refresh_token } (dev: accepts "12345" or any 4–6 digit code). Self-signup as role:admin is honoured only when TRIPKING_DEV_MODE is unset/"true" (the default); in production it''s rejected with 403 — admins are provisioned via PATCH /admin/users/{id}. 403 ACCOUNT_SUSPENDED if users.is_active = false (the account-level kill switch — an admin flipped it; orthogonal to KYC).', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [phone, otp], properties: { phone: { type: string }, otp: { type: string }, display_name: { type: string }, role: { type: string, enum: [driver, trip_manager, admin] } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
  /auth/refresh:
    post: { tags: [auth], summary: 'Exchange a refresh token for a new pair. 403 ACCOUNT_SUSPENDED if users.is_active = false (a suspended account loses access on its next refresh).', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [refresh_token], properties: { refresh_token: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
  /auth/logout:
    post: { tags: [auth], summary: 'Best-effort server logout (Bearer)', responses: { '200': { $ref: '#/components/responses/Envelope' } } }
  /auth/me:
    get: { tags: [auth], summary: 'The current user (Bearer)', responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' } } }
  /trips:
    get: { tags: [trips], summary: 'List trips (Bearer required). Each trip is redacted to the caller''s relationship: rows you posted → full (passenger name+phone, poster phone, the assigned driver''s live position, distance_to_destination_km, passenger_otp); rows assigned to your driver profile → passenger name + poster phone + your own live position (passenger phone only when the trip''s hide_passenger_phone is false); everything else → browse-safe (route/fare/car-type/pickup/passenger_count/applicant_count/posted_by_name/from_place/to_place — no passenger PII, no driver positions). status=in_progress&posted_by_user_id=<me> is a trip manager''s live-trips map; assigned_driver_id=me is "the trips I''m driving". near_lat+near_lng+radius_km (all three; radius capped at 100km) restricts to trips whose pickup point (from_place → from_city fallback) is within range, nearest first, each row carrying distance_km.', parameters: [{ name: status, in: query, schema: { type: string }, description: 'one value or a CSV (e.g. open,has_applicants)' }, { name: from_city_id, in: query, schema: { type: string } }, { name: to_city_id, in: query, schema: { type: string } }, { name: via_city_id, in: query, schema: { type: string }, description: 'trips whose waypoint chain contains this city anywhere (origin / stop / destination) — migration 024' }, { name: posted_by_user_id, in: query, schema: { type: string } }, { name: assigned_driver_id, in: query, schema: { type: string }, description: 'a driver uuid, or the literal "me" — resolves to the caller''s driver profile (the trips assigned to you)' }, { name: near_lat, in: query, schema: { type: number } }, { name: near_lng, in: query, schema: { type: number } }, { name: radius_km, in: query, schema: { type: number, maximum: 100 }, description: 'radius search — all three of near_lat/near_lng/radius_km must be present' }, { name: limit, in: query, schema: { type: integer } }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [trips], summary: 'Post a trip (Bearer; the poster must be is_active + KYC-verified — 403 ACCOUNT_SUSPENDED if the driver/agent profile is deactivated, 403 KYC_REQUIRED if not yet approved) — hide_passenger_phone (true|false) and passenger_count (≥1) are REQUIRED. Two body shapes accepted: (a) legacy single-leg (from_city_id + to_city_id, optional from_place_id / to_place_id — server synthesises a 2-waypoint one_way plan), OR (b) migration-024 shape with trip_type + waypoints[] (one_way / round_trip / multi_way). Round_trip last waypoint city/place must match the first; multi_way can either drop (last ≠ first) or loop back (last == first) — the client labels these as "Multi-way drop" / "Multi-way return back" in share text. expected_end_at must be > pickup_at and ≤ app_settings.max_trip_duration_days. driver_bata is per-day; driver_payout = (fare − commission − GST) + driver_bata × ceil(days) + wait_charges. Per-user rate-limited (429 RATE_LIMITED on excess).', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [pickup_at, car_type_id, expected_distance_km, rate_per_km, hide_passenger_phone, passenger_count], properties: { hide_passenger_phone: { type: boolean, description: 'whether to hide the passenger phone from the assigned driver (the poster always sees it)' }, passenger_count: { type: integer, minimum: 1 }, from_city_id: { type: string, description: 'required when waypoints[] is omitted' }, to_city_id: { type: string, description: 'required when waypoints[] is omitted' }, from_place_id: { type: string }, to_place_id: { type: string }, trip_type: { type: string, enum: [one_way, round_trip, multi_way], description: 'route shape; defaults to one_way' }, expected_end_at: { type: string, description: 'ISO timestamp; trip end (must be > pickup_at, span ≤ max_trip_duration_days). Server defaults to last-waypoint arrive_at + wait, or pickup_at + 1 day.' }, waypoints: { type: array, description: 'Ordered list (origin → 0+ stops → final). For round_trip the last city/place must equal the first; for multi_way ≥3 entries and last can match or differ from first (drop vs return back).', items: { type: object, properties: { city_id: { type: string }, place_id: { type: string }, arrive_at: { type: string, description: 'ISO timestamp; monotonic vs the previous waypoint and pickup_at' }, wait_minutes: { type: integer, minimum: 0 }, is_destination: { type: boolean }, notes: { type: string, description: 'free text; rejected if it contains a phone number' } } } } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' }, '429': { $ref: '#/components/responses/Envelope' } } }
  /trips/applied:
    get: { tags: [trips], summary: 'My applications (driver; Bearer) — the caller''s own trip_acceptances, newest first, each with its joined trip (from/to city, car type). The poster-only GET /trips/{id}/applicants is for the other side; this is the driver''s view of where they''ve applied. Empty array if the caller has no driver profile.', responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' } } }
  /trips/by-otp/{otp}:
    get: { tags: [trips], summary: 'Get the trip for a passenger OTP (public — the OTP is the credential; the passenger portal). The passenger''s own view: their data + the assigned driver (with live position + phone, to track/reach the ride) + vehicle; distance_to_destination_km when in_progress; fare fields nulled when show_fare_to_passenger is false; passenger_otp_hash / passenger_otp never echoed.', parameters: [{ name: otp, in: path, required: true, schema: { type: string } }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}:
    get: { tags: [trips], summary: 'Get a trip (Bearer required) — redacted to the caller''s relationship: the poster (or an admin) sees passenger name+phone, poster phone, the assigned driver''s live position, distance_to_destination_km, and the plaintext passenger_otp (so they can re-open the passenger-portal link); the assigned driver sees passenger name + poster phone + their own live position (and passenger phone ONLY when the trip''s hide_passenger_phone is false; never the OTP); anyone else sees browse-safe fields only (no passenger PII, no driver position). passenger_otp_hash is never returned.', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}/applicants:
    get: { tags: [trips], summary: 'List applicants (poster/admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [trips], summary: 'Apply to a trip (driver; Bearer; must be is_active + KYC-verified — 403 ACCOUNT_SUSPENDED if the driver is deactivated, 403 KYC_REQUIRED if not yet approved) — per-user rate-limited (429 RATE_LIMITED on excess)', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { content: { application/json: { schema: { type: object, properties: { vehicle_id: { type: string }, applicant_quoted_rate_per_km: { type: number }, applicant_message: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' }, '429': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}/applicants/{aid}:
    delete: { tags: [trips], summary: 'Withdraw an application (owning driver/admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }, { name: aid, in: path, required: true, schema: { type: string } }], responses: { '200': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}/applicants/{aid}/reject:
    post: { tags: [trips], summary: 'Reject an applicant (poster/admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }, { name: aid, in: path, required: true, schema: { type: string } }], responses: { '200': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}/assign:
    post: { tags: [trips], summary: 'Assign a driver (poster/admin; Bearer) — selects one acceptance, rejects the rest, generates the passenger OTP. 422 if the chosen acceptance''s driver has been deactivated (pick another applicant).', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [acceptance_id], properties: { acceptance_id: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}/start:
    post: { tags: [trips], summary: 'Start the trip (assigned driver/admin; Bearer) — verifies the passenger OTP → in_progress', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [passenger_otp], properties: { passenger_otp: { type: string }, start_odo_url: { type: string }, start_odo_reading: { type: integer } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}/complete:
    post: { tags: [trips], summary: 'Complete the trip (assigned driver/admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { content: { application/json: { schema: { type: object, properties: { end_odo_url: { type: string }, end_odo_reading: { type: integer }, driver_notes: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' } } }
  /trips/{id}/cancel:
    post: { tags: [trips], summary: 'Cancel the trip (poster/admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { content: { application/json: { schema: { type: object, properties: { cancel_reason_id: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' } } }
  /bug-reports:
    get: { tags: [bug-reports], summary: 'List bug reports (admin; Bearer) — filters: status, priority, category, reporter_id, q (ILIKE title); pagination via page/limit (default 50, max 200), newest first.', security: [{ BearerAuth: [] }], parameters: [{ name: status, in: query, schema: { type: string, enum: [open, in_progress, needs_info, resolved, verified, reopened, closed] } }, { name: priority, in: query, schema: { type: string, enum: [low, medium, high, critical] } }, { name: category, in: query, schema: { type: string, enum: [auth_otp, trip_post, trip_apply, kyc_docs, video_call, vehicle_eligibility, map_location, notification, ui, other] } }, { name: reporter_id, in: query, schema: { type: string } }, { name: q, in: query, schema: { type: string } }, { name: page, in: query, schema: { type: integer } }, { name: limit, in: query, schema: { type: integer } }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [bug-reports], summary: 'Submit a bug report (Bearer). Gated: 403 BUG_REPORTS_NOT_ENABLED unless users.role=admin OR users.can_report_bugs=true. Inserts the row (server-assigns BUG-NNN via sequence) and fan-out notifies every admin (type=bug_reported).', security: [{ BearerAuth: [] }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [title], properties: { title: { type: string }, description: { type: string }, steps_to_reproduce: { type: string }, expected: { type: string }, actual: { type: string }, priority: { type: string, enum: [low, medium, high, critical] }, category: { type: string, enum: [auth_otp, trip_post, trip_apply, kyc_docs, video_call, vehicle_eligibility, map_location, notification, ui, other] }, page_url: { type: string }, route: { type: string }, browser_info: { type: object }, app_version: { type: string }, console_logs: { type: string }, breadcrumbs: { type: array, items: { type: object } }, context: { type: object }, query_cache_snapshot: { type: array, items: { type: object } }, sentry_replay_url: { type: string }, posthog_session_url: { type: string }, posthog_session_id: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /bug-reports/{id}:
    get: { tags: [bug-reports], summary: 'Get a bug report (admin or its reporter; Bearer). Joins comments + attachments (with 5-min signed download URLs).', security: [{ BearerAuth: [] }], parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
    patch: { tags: [bug-reports], summary: 'Update a bug report (admin; Bearer) — { status?, priority?, category?, assigned_to?, resolution_notes? }. Transitioning to status=resolved sets resolved_at/resolved_by and fires a bug_resolved notification to the reporter.', security: [{ BearerAuth: [] }], parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { status: { type: string, enum: [open, in_progress, needs_info, resolved, verified, reopened, closed] }, priority: { type: string, enum: [low, medium, high, critical] }, category: { type: string, enum: [auth_otp, trip_post, trip_apply, kyc_docs, video_call, vehicle_eligibility, map_location, notification, ui, other] }, assigned_to: { type: string, nullable: true }, resolution_notes: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /bug-reports/{id}/attachment-upload-url:
    post: { tags: [bug-reports], summary: 'Short-lived signed UPLOAD URL into the private bug-attachments bucket (admin or reporter; Bearer). Pre-records the attachment row so the GET join reflects it after the client PUTs the bytes. Path layout: <bug_id>/<timestamp>-<file_name>.', security: [{ BearerAuth: [] }], parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { file_name: { type: string }, file_size: { type: integer }, content_type: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /bug-reports/{id}/comments:
    get: { tags: [bug-reports], summary: 'List comments on a bug (admin or reporter; Bearer)', security: [{ BearerAuth: [] }], parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [bug-reports], summary: 'Add a comment (admin or reporter; Bearer). Mirror-notifies the other party (admin → reporter; reporter → all admins) with type=bug_commented.', security: [{ BearerAuth: [] }], parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [content], properties: { content: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /notifications:
    get: { tags: [notifications], summary: 'The caller''s notifications (Bearer)', parameters: [{ name: unread_only, in: query, schema: { type: boolean } }, { name: limit, in: query, schema: { type: integer } }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' } } }
  /notifications/{id}:
    patch: { tags: [notifications], summary: 'Mark a notification read (own only; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { content: { application/json: { schema: { type: object, properties: { is_read: { type: boolean } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /notifications/read-all:
    post: { tags: [notifications], summary: 'Mark all the caller''s notifications read (Bearer)', responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' } } }
  /vehicles:
    get: { tags: [vehicles], summary: 'List vehicles (eligibility_status derived) — eligibility / needs_attention drive the admin eligibility dashboard', parameters: [{ name: driver_id, in: query, schema: { type: string } }, { name: include_inactive, in: query, schema: { type: boolean } }, { name: eligibility, in: query, schema: { type: string }, description: 'CSV of eligible|expiring_soon|expired' }, { name: needs_attention, in: query, schema: { type: boolean }, description: 'true ⇒ only vehicles whose eligibility_status ≠ eligible' }], responses: { '200': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [vehicles], summary: 'Add a vehicle (driver; Bearer) — driver_id = the caller', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [car_type_id, year] } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /vehicles/{id}:
    get: { tags: [vehicles], summary: 'Get a vehicle', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
    patch: { tags: [vehicles], summary: 'Update a vehicle (owning driver/admin; Bearer) — include is_active to enable/disable', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
    delete: { tags: [vehicles], summary: 'Delete a vehicle (owning driver/admin; Bearer) — 409 IN_USE if referenced', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' } } }
  /vehicles/{id}/photo-upload-url:
    post: { tags: [vehicles], summary: 'Mint a short-lived signed PUT URL for one vehicle photo/paper (owning driver/admin; Bearer). Upload the bytes straight to Storage, then PATCH the returned column onto the vehicle.', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [slot], properties: { slot: { type: string, enum: [front, back, left, right, plate, interior, rc, insurance, permit] } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /drivers:
    get: { tags: [drivers], summary: 'List driver profiles (public) — joins home/current city + vehicle summaries; rows carry `can_report_bugs` (from users) so admin UIs render the BugReporterToggle truthfully; kyc_status accepts a CSV (the admin KYC queue). Deactivated drivers are excluded by default (pass active=false for only-deactivated, or include_inactive=true for all). When near_lat+near_lng+radius_km are all given, the list is restricted to drivers whose (non-stale, ≤30 min old) current position is within radius_km (capped at 100), nearest first, each row carrying distance_km.', parameters: [{ name: current_city_id, in: query, schema: { type: string } }, { name: kyc_status, in: query, schema: { type: string }, description: 'one value or a CSV — e.g. docs_submitted,video_pending' }, { name: active, in: query, schema: { type: string, enum: ['false'] }, description: 'active=false ⇒ list only deactivated drivers (default lists only active ones)' }, { name: include_inactive, in: query, schema: { type: boolean }, description: 'true ⇒ include deactivated drivers' }, { name: search, in: query, schema: { type: string }, description: 'admin-only ILIKE match across full_name | phone | email (trigram-indexed); 403 if caller is not admin' }, { name: near_lat, in: query, schema: { type: number } }, { name: near_lng, in: query, schema: { type: number } }, { name: radius_km, in: query, schema: { type: number, maximum: 100 }, description: 'radius search — all three of near_lat/near_lng/radius_km must be present' }, { name: limit, in: query, schema: { type: integer } }], responses: { '200': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [drivers], summary: 'Create my driver profile (Bearer; user_id = caller). Pass role=trip_manager to create an agent profile instead. Idempotent — returns the existing profile if one already exists.', requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { full_name: { type: string }, role: { type: string, enum: [driver, trip_manager] }, home_city_id: { type: string }, current_city_id: { type: string }, phone: { type: string }, email: { type: string }, profile_photo_url: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /drivers/me:
    get: { tags: [drivers], summary: 'Get the caller''s own driver profile (Bearer; joined like /drivers/{id}). 404 if the caller has no driver profile yet. Carries a server-computed `verification` block (kyc_status, per-step status, steps_done/steps_total, the scheduled video_verification, kyc_rejection_reason) for the owner.', responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /drivers/{id}:
    get: { tags: [drivers], summary: 'Get a driver profile — the `verification` block + private KYC fields (masked Aadhaar, licence number/expiry) are returned only to the owner/admin; the public view is the coarse kyc_status. A deactivated profile 404s for everyone except its owner and admins.', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
    patch: { tags: [drivers], summary: 'Update a driver profile (owner/admin; Bearer) — full_name, email, home_city_id, current_city_id, profile_photo_url', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { full_name: { type: string }, email: { type: string }, home_city_id: { type: string }, current_city_id: { type: string }, profile_photo_url: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /drivers/{id}/active:
    patch: { tags: [drivers], summary: 'Deactivate / reactivate a driver (admin; Bearer) — { is_active: bool, reason?: string }. Sets deactivated_at / deactivation_reason / deactivated_by, appends an admin_audit_log row, and fires an account_status_change notification to the driver. A deactivated driver can''t post or apply to trips, post vacancies, or leave reviews; they''re excluded from public driver lists & alert matching; their profile 404s for non-owners. In-flight (assigned / in-progress) trips are intentionally left alone. Orthogonal to kyc_status.', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [is_active], properties: { is_active: { type: boolean }, reason: { type: string, description: 'shown to the driver when deactivating' } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /drivers/{id}/location:
    patch: { tags: [drivers], summary: 'Update a driver''s current location (owner; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { current_city_id: { type: string }, current_lat: { type: number }, current_lng: { type: number }, current_location_at: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /drivers/{id}/kyc:
    patch: { tags: [drivers], summary: 'Move a driver through the KYC workflow (admin; Bearer) — records kyc_reviewed_by/at + kyc_rejection_reason (the `note`), and fires a kyc_status_change notification', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [kyc_status], properties: { kyc_status: { type: string, enum: [pending, docs_submitted, video_pending, ready_for_approval, approved, rejected, resubmit_required] }, note: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /drivers/{id}/kyc-doc-upload-url:
    post: { tags: [drivers], summary: 'Mint a short-lived signed PUT URL for one KYC document (owner; Bearer). Upload the bytes straight to Storage, then call POST /drivers/{id}/kyc-docs with the returned path.', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [doc_type], properties: { doc_type: { type: string, enum: [aadhaar_front, aadhaar_back, driver_license, selfie] } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /drivers/{id}/kyc-docs:
    post: { tags: [drivers], summary: 'Submit a driver''s KYC documents (owner; Bearer) — stores the Storage paths + the masked Aadhaar last-4 + licence number/expiry, sets kyc_docs_submitted_at, and moves kyc_status pending|resubmit_required → docs_submitted. Returns the driver profile.', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [aadhaar_front_path, aadhaar_back_path, aadhaar_last4, driver_license_path, driver_license_number, selfie_path, consent], properties: { aadhaar_front_path: { type: string }, aadhaar_back_path: { type: string }, aadhaar_last4: { type: string, description: 'exactly 4 digits' }, driver_license_path: { type: string }, driver_license_number: { type: string }, driver_license_expiry: { type: string, format: date }, selfie_path: { type: string }, consent: { type: boolean, description: 'must be true (UIDAI document-storage consent)' } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
    get: { tags: [drivers], summary: 'The driver''s KYC documents — masked Aadhaar number, licence number/expiry, kyc_docs_submitted_at, and 5-minute signed download URLs for each file (owner or admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /agents:
    get: { tags: [agents], summary: 'List agent (trip-manager) profiles (public) — rows carry `can_report_bugs` (from users) so admin UIs render the BugReporterToggle truthfully; deactivated agents are excluded by default (pass active=false for only-deactivated, or include_inactive=true for all)', parameters: [{ name: business_city_id, in: query, schema: { type: string } }, { name: kyc_status, in: query, schema: { type: string } }, { name: active, in: query, schema: { type: string, enum: ['false'] }, description: 'active=false ⇒ list only deactivated agents (default lists only active ones)' }, { name: include_inactive, in: query, schema: { type: boolean }, description: 'true ⇒ include deactivated agents' }, { name: search, in: query, schema: { type: string }, description: 'admin-only ILIKE match across full_name | phone | email (trigram-indexed); 403 if caller is not admin' }, { name: limit, in: query, schema: { type: integer } }], responses: { '200': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [agents], summary: 'Create my agent profile (Bearer; user_id = caller; users.role → trip_manager). Idempotent.', requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { full_name: { type: string }, business_name: { type: string }, business_city_id: { type: string }, phone: { type: string }, email: { type: string }, profile_photo_url: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /agents/me:
    get: { tags: [agents], summary: 'Get the caller''s own agent profile (Bearer; joined like /agents/{id}). 404 if the caller has no agent profile yet. Carries a server-computed `verification` block (3 steps — details, documents, video_call — plus steps_done/steps_total, the scheduled video_verification, kyc_rejection_reason) for the owner.', responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /agents/{id}:
    get: { tags: [agents], summary: 'Get an agent profile (joins business city). A deactivated profile 404s for everyone except its owner and admins.', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
    patch: { tags: [agents], summary: 'Update an agent profile (owner/admin; Bearer) — full_name, email, business_name, business_city_id, profile_photo_url', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { full_name: { type: string }, email: { type: string }, business_name: { type: string }, business_city_id: { type: string }, profile_photo_url: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /agents/{id}/active:
    patch: { tags: [agents], summary: 'Deactivate / reactivate an agent (admin; Bearer) — { is_active: bool, reason?: string }. Sets deactivated_at / deactivation_reason / deactivated_by, appends an admin_audit_log row, and fires an account_status_change notification to the agent. A deactivated agent can''t post trips or leave reviews; they''re excluded from public agent lists; their profile 404s for non-owners. In-flight trips are intentionally left alone. Orthogonal to kyc_status.', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [is_active], properties: { is_active: { type: boolean }, reason: { type: string, description: 'shown to the agent when deactivating' } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /agents/{id}/kyc:
    patch: { tags: [agents], summary: 'Move an agent through the KYC workflow (admin; Bearer) — records kyc_reviewed_by/at + kyc_rejection_reason (the `note`), and fires a kyc_status_change notification', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [kyc_status], properties: { kyc_status: { type: string, enum: [pending, docs_submitted, video_pending, ready_for_approval, approved, rejected, resubmit_required] }, note: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /agents/{id}/kyc-doc-upload-url:
    post: { tags: [agents], summary: 'Mint a short-lived signed PUT URL for one agent KYC document (owner; Bearer) — no driving licence for trip managers. Upload the bytes straight to Storage, then call POST /agents/{id}/kyc-docs.', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [doc_type], properties: { doc_type: { type: string, enum: [aadhaar_front, aadhaar_back, selfie] } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /agents/{id}/kyc-docs:
    post: { tags: [agents], summary: 'Submit an agent''s KYC documents (owner; Bearer) — Aadhaar (front & back) + a selfie + the masked last-4 (no driving licence); sets kyc_docs_submitted_at and moves kyc_status pending|resubmit_required → docs_submitted. Returns the agent profile.', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [aadhaar_front_path, aadhaar_back_path, aadhaar_last4, selfie_path, consent], properties: { aadhaar_front_path: { type: string }, aadhaar_back_path: { type: string }, aadhaar_last4: { type: string, description: 'exactly 4 digits' }, selfie_path: { type: string }, consent: { type: boolean, description: 'must be true' } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
    get: { tags: [agents], summary: 'The agent''s KYC documents — masked Aadhaar number, kyc_docs_submitted_at, and 5-minute signed download URLs for Aadhaar front/back + selfie (owner or admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /vacancies:
    get: { tags: [vacancies], summary: 'List vacancies (public; vacancies of deactivated drivers are excluded) — joins driver+vehicle summary, current_city/current_place, and destination cities + places (vacancy_destinations: [{ city, place }]). When near_lat+near_lng+radius_km are all given, restricted to vacancies whose current point (current_place → current_city fallback) is within radius_km (capped at 100), nearest first, each row carrying distance_km.', parameters: [{ name: current_city_id, in: query, schema: { type: string } }, { name: destination_city_id, in: query, schema: { type: string } }, { name: destination_place_id, in: query, schema: { type: string } }, { name: status, in: query, schema: { type: string } }, { name: driver_id, in: query, schema: { type: string } }, { name: near_lat, in: query, schema: { type: number } }, { name: near_lng, in: query, schema: { type: number } }, { name: radius_km, in: query, schema: { type: number, maximum: 100 }, description: 'radius search — all three of near_lat/near_lng/radius_km must be present' }, { name: limit, in: query, schema: { type: integer } }], responses: { '200': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [vacancies], summary: 'Post a vacancy (driver; Bearer; must be is_active + KYC-verified — 403 ACCOUNT_SUSPENDED if the driver is deactivated, 403 KYC_REQUIRED if not yet approved) — driver_id = the caller; current_place_id accepted alongside current_city_id; destinations: [{ cityId?, placeId? }] (each entry may be a curated city, a precise place, or both — at least one id required; or the legacy parallel destination_place_ids / destination_city_ids) → vacancy_destinations rows (a bad place id → 422); matching active alerts get an alert_match notification. Per-user rate-limited (429 RATE_LIMITED on excess).', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [current_city_id], properties: { current_city_id: { type: string }, current_place_id: { type: string }, vehicle_id: { type: string }, available_from: { type: string }, available_until: { type: string }, destinations: { type: array, items: { type: object, properties: { cityId: { type: string }, placeId: { type: string } } } }, destination_city_ids: { type: array, items: { type: string } }, destination_place_ids: { type: array, items: { type: string } }, min_rate_per_km: { type: number }, notes: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' }, '429': { $ref: '#/components/responses/Envelope' } } }
  /vacancies/{id}:
    get: { tags: [vacancies], summary: 'Get a vacancy', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /vacancies/{id}/cancel:
    post: { tags: [vacancies], summary: 'Cancel a vacancy (owning driver/admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' } } }
  /alerts:
    get: { tags: [alerts], summary: 'List my alerts (Bearer) — joins from/to city + from/to place', responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [alerts], summary: 'Create an alert (Bearer; user_id = caller) — from_city_id required; from_place_id / to_place_id accepted alongside from_city_id / to_city_id (a bad place id → 422). Posting a trip/vacancy inside the alert''s radius (and matching its other filters) fires an alert_match notification to the owner. Per-user rate-limited (429 RATE_LIMITED on excess).', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [from_city_id], properties: { name: { type: string }, from_city_id: { type: string }, from_place_id: { type: string }, from_radius_km: { type: integer }, to_city_id: { type: string }, to_place_id: { type: string }, to_radius_km: { type: integer }, min_rate_per_km: { type: number }, min_commission_pct: { type: number }, car_type_ids: { type: array, items: { type: string } }, pickup_window_start: { type: string }, pickup_window_end: { type: string }, notify_via: { type: array, items: { type: string, enum: [push, sms, email, in_app] }, description: 'only in_app is delivered today; push/sms/email are recorded but no-op. An alert that doesn''t include in_app gets no notification yet.' }, is_active: { type: boolean } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' }, '429': { $ref: '#/components/responses/Envelope' } } }
  /alerts/{id}:
    get: { tags: [alerts], summary: 'Get an alert (owner/admin; Bearer) — joins from/to city + from/to place', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
    patch: { tags: [alerts], summary: 'Update an alert (owner; Bearer) — partial; include from_place_id/to_place_id and/or is_active/paused_at to pause/resume (a bad place id → 422)', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { from_place_id: { type: string }, to_place_id: { type: string }, is_active: { type: boolean }, paused_at: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
    delete: { tags: [alerts], summary: 'Delete an alert (owner; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /vacancy-invitations:
    get: { tags: [vacancy-invitations], summary: 'List my invitations (Bearer) — ?role=driver returns mine-received, ?role=agent returns mine-sent, default both. Admin sees all. Driver PII on the joined driver row is redacted (handle + trust signals only) until the invitation is accepted; the inviter''s display_name is surfaced as inviter_name + inviter_handle.', parameters: [{ name: role, in: query, schema: { type: string, enum: [driver, agent] } }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [vacancy-invitations], summary: 'Invite a driver (agent — Bearer; caller must own the trip and the trip must be open|has_applicants; vacancy''s driver must be is_active + KYC-approved). Inserts the row + fires a trip_invitation notification. Unique (vacancy_id, trip_id) ⇒ 409 on duplicate. Per-user rate-limited (20 / 10 min — 429 RATE_LIMITED on excess).', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [vacancy_id, trip_id], properties: { vacancy_id: { type: string }, trip_id: { type: string }, message: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' }, '429': { $ref: '#/components/responses/Envelope' } } }
  /vacancy-invitations/{id}:
    get: { tags: [vacancy-invitations], summary: 'Get an invitation (driver, inviting agent, or admin; Bearer) — driver PII revealed for admin/driver and for the agent only after status=accepted', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
    patch: { tags: [vacancy-invitations], summary: 'Accept or decline an invitation (driver-only on own row; admin allowed). On accepted: inserts a trip_acceptances row with status=applied (the PII reveal gate); pre-existing acceptance ⇒ idempotent. Either outcome fires an invitation_accepted | invitation_declined notification to the inviting agent.', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [status], properties: { status: { type: string, enum: [accepted, declined] } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /reviews:
    get: { tags: [reviews], summary: 'List reviews (published rows + the caller''s own when authed; admins see all). flagged=true (admin) = the moderation queue', parameters: [{ name: trip_id, in: query, schema: { type: string } }, { name: ratee_user_id, in: query, schema: { type: string } }, { name: direction, in: query, schema: { type: string, enum: [passenger_to_driver, manager_to_driver, driver_to_manager] } }, { name: flagged, in: query, schema: { type: boolean }, description: 'admin only — return is_flagged rows (the moderation queue)' }, { name: limit, in: query, schema: { type: integer } }], responses: { '200': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [reviews], summary: 'Post a review (Bearer; rater_user_id = caller; a deactivated driver/agent can''t — 403 ACCOUNT_SUSPENDED) — the trip must be completed; unique (trip_id, direction); ratee_user_id derived from the trip if omitted; fires a review_received notification. Per-user rate-limited (429 RATE_LIMITED on excess).', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [trip_id, direction, score], properties: { trip_id: { type: string }, direction: { type: string, enum: [passenger_to_driver, manager_to_driver, driver_to_manager] }, score: { type: integer, minimum: 1, maximum: 5 }, comment: { type: string }, tag_ids: { type: array, items: { type: string } }, ratee_user_id: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' }, '429': { $ref: '#/components/responses/Envelope' } } }
  /reviews/{id}/report:
    post: { tags: [reviews], summary: 'Report a review (any authed user; Bearer) — sets is_flagged + flag_reason', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { content: { application/json: { schema: { type: object, properties: { flag_reason: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /reviews/{id}/moderate:
    post: { tags: [reviews], summary: 'Moderate a review (admin; Bearer) — set is_published and/or clear the flag; records moderated_by/moderated_at', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { content: { application/json: { schema: { type: object, properties: { is_published: { type: boolean }, clear_flag: { type: boolean } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /reviews/{id}:
    get: { tags: [reviews], summary: 'Get a review (published, or own, or admin)', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
  /analytics/admin:
    get: { tags: [analytics], summary: 'Platform dashboard (admin; Bearer) — server-computed counts/sums (users by role, drivers by KYC, vehicles by eligibility, trips by status, completed-fare/commission sums, flagged reviews, monthly trip series, …)', responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
  /analytics/agent:
    get: { tags: [analytics], summary: 'Agent (trip-posting) analytics (Bearer) — the caller''s own, or ?user_id=<id> for admins. Trips posted/by-status, fare totals, applicants received, unique drivers used, reviews received, a 6-month series.', parameters: [{ name: user_id, in: query, schema: { type: string }, description: 'admin only — a specific agent''s user id (defaults to the caller)' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
  /analytics/driver:
    get: { tags: [analytics], summary: 'Driver (earnings & history) analytics (Bearer) — the caller''s own, or ?user_id=<id> for admins. Trips assigned/by-status, trips completed, earnings_total (sum driver_payout over completed) + earnings_pending, distance completed, applications total/pending/selected, reviews received + avg score, a 6-month {completed, earnings} series; has_driver_profile is false (and the counts are 0) if the user isn''t a driver.', parameters: [{ name: user_id, in: query, schema: { type: string }, description: 'admin only — a specific driver''s user id (defaults to the caller)' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
  /analytics/api-metrics:
    get: { tags: [analytics], summary: 'API metrics rollup (admin; Bearer) — per-endpoint request count, error count (status >= 500), avg/max/p95 latency over the last `hours` (default 24, max 720), plus the window bounds.', parameters: [{ name: hours, in: query, schema: { type: integer, default: 24, minimum: 1, maximum: 720 } }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
  /video-verifications:
    get: { tags: [video-verifications], summary: 'List video-call verifications (admin; Bearer) — the Video Call Console. Each row joins its driver or manager summary.', parameters: [{ name: status, in: query, schema: { type: string }, description: 'one value or a CSV of scheduled,completed,cancelled,no_show' }, { name: from, in: query, schema: { type: string, format: date-time }, description: 'minimum scheduled_at' }, { name: to, in: query, schema: { type: string, format: date-time }, description: 'maximum scheduled_at' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
    post: { tags: [video-verifications], summary: 'Book a video-call slot (driver or trip_manager whose kyc_status is docs_submitted; Bearer) — creates a video_verifications row (status scheduled, meeting_provider jitsi, meeting_url https://meet.jit.si/tripking-<id>) and moves the subject''s kyc_status → video_pending. One open call per subject (409 otherwise). slot_at must come from /video-verifications/available-slots.', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [slot_at], properties: { slot_at: { type: string, format: date-time } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /video-verifications/available-slots:
    get: { tags: [video-verifications], summary: 'Open 15-minute video-call slots (Bearer) — derived from admin availability windows; the next ~14 days, at least an hour out. Returns [{ slot_at, slot_minutes }].', responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' } } }
  /video-verifications/{id}:
    get: { tags: [video-verifications], summary: 'Get a video-call verification (the subject, the conductor, or an admin; Bearer)', parameters: [{ $ref: '#/components/parameters/id' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' } } }
    patch: { tags: [video-verifications], summary: 'Cancel / reschedule / mark no-show (Bearer). Owner: { cancel: true } → cancelled (subject kyc_status → docs_submitted) or { reschedule_to: <ISO from available-slots> }. Admin: { no_show: true } → no_show (subject kyc_status → docs_submitted).', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { cancel: { type: boolean }, reschedule_to: { type: string, format: date-time }, no_show: { type: boolean } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /video-verifications/{id}/finalize:
    patch: { tags: [video-verifications], summary: 'Finalize a video call (admin; Bearer) — sets status completed + conducted_by/at. outcome=approved moves the subject toward verification: if every other checklist step is also done the subject lands on kyc_status=ready_for_approval (awaiting an admin click on the KYC detail page), otherwise stays at video_pending until the remaining steps are complete. outcome=rejected/resubmit_required moves the subject directly to that terminal/recovery state (with kyc_reviewed_by/at + kyc_rejection_reason from `notes`) and fires a kyc_status_change notification. outcome=approved requires face_match_confirmed && documents_confirmed && liveness_check_passed all true.', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, required: [outcome, face_match_confirmed, documents_confirmed, liveness_check_passed], properties: { outcome: { type: string, enum: [approved, rejected, resubmit_required] }, face_match_confirmed: { type: boolean }, documents_confirmed: { type: boolean }, liveness_check_passed: { type: boolean }, notes: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /video-verifications/{id}/status:
    patch: { tags: [video-verifications], summary: 'Manually flip a video verification''s status / outcome (admin; Bearer) — for off-platform calls or to correct a mistake. Accepts any combination of { status, outcome, notes }. status=completed + outcome=approved mirrors finalize: the subject lands on kyc_status=ready_for_approval when every other checklist step is done, otherwise stays at video_pending. status=completed + outcome=rejected|resubmit_required terminates the same way as finalize. status=cancelled|no_show reverts subjects whose kyc_status is video_pending or ready_for_approval back to docs_submitted. Unlike finalize, this does NOT enforce the three gates — use with care.', parameters: [{ $ref: '#/components/parameters/id' }], requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { status: { type: string, enum: [scheduled, completed, cancelled, no_show] }, outcome: { type: string, enum: [approved, rejected, resubmit_required], nullable: true }, notes: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
  /places/search:
    get: { tags: [places], summary: 'Geocoder search (public) — server-side proxy to the configured provider (PLACES_PROVIDER + PLACES_API_KEY; biased to India). Does not persist. Per-IP rate-limited; responses carry Cache-Control. data is an array of { provider, providerPlaceId, name, formattedAddress, state, lat, lng }. Returns [] when the provider is unconfigured or upstream is unavailable; q shorter than 2 chars → [].', parameters: [{ name: q, in: query, required: true, schema: { type: string }, description: 'free-text query (≥ 2 chars)' }, { name: near_lat, in: query, schema: { type: number }, description: 'optional proximity bias (with near_lng)' }, { name: near_lng, in: query, schema: { type: number } }, { name: limit, in: query, schema: { type: integer, default: 6, minimum: 1, maximum: 10 } }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '429': { $ref: '#/components/responses/Envelope' } } }
  /places:
    post: { tags: [places], summary: 'Find-or-create a place (public) — match by (provider, providerPlaceId), else by a ~5dp lat/lng + provider match; otherwise insert. Returns the stored Place (snake_case row, incl. id). Per-IP rate-limited.', requestBody: { required: true, content: { application/json: { schema: { type: object, required: [provider, name, lat, lng], properties: { provider: { type: string }, providerPlaceId: { type: string }, name: { type: string }, formattedAddress: { type: string }, state: { type: string }, lat: { type: number }, lng: { type: number }, cityId: { type: string } } } } } }, responses: { '200': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' }, '429': { $ref: '#/components/responses/Envelope' } } }
  /debug:
    get: { tags: [debug], summary: 'List the debug routes (admin; Bearer) — data is { routes: [...] }', responses: { '200': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
  /debug/throw:
    get: { tags: [debug], summary: 'Deliberately throw an uncaught error (admin; Bearer) — withTiming reports it to Sentry (tags: source=edge-fn, fn=debug) and returns { code: "INTERNAL" } with status 500 (never a raw runtime error). Exercises the L5 edge-function error boundary.', responses: { '500': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
  /debug/fail:
    get: { tags: [debug], summary: 'Return a fail(code, …) envelope (admin; Bearer) — ?code=<CODE> picks the code (default CONFLICT) and a sensible HTTP status; no Sentry event.', parameters: [{ name: code, in: query, schema: { type: string, enum: [VALIDATION, UNAUTHORIZED, FORBIDDEN, NOT_FOUND, CONFLICT, RATE_LIMITED, DB_ERROR, INTERNAL] } }], responses: { '400': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '409': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' }, '429': { $ref: '#/components/responses/Envelope' }, '500': { $ref: '#/components/responses/Envelope' } } }
  /debug/slow:
    get: { tags: [debug], summary: 'Sleep then return 200 (admin; Bearer) — ?ms=<n> (default 1000, max 10000); data is { slept_ms }.', parameters: [{ name: ms, in: query, schema: { type: integer, default: 1000, minimum: 0, maximum: 10000 } }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
  /passengers:
    get: { tags: [passengers], summary: 'List the passenger directory (admin; Bearer) — newest-registered first by default; joins referred_by:users!referred_by_user_id(id, display_name, role, phone). Pagination via meta.', parameters: [{ name: q, in: query, schema: { type: string }, description: 'case-insensitive substring match against name OR phone' }, { name: sort, in: query, schema: { type: string }, description: '<col>[:asc|desc] — col ∈ first_seen_at|updated_at|trips_count|name|phone (default first_seen_at:desc)' }, { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }, { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 200, default: 50 } }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '403': { $ref: '#/components/responses/Envelope' } } }
  /passengers/lookup:
    get: { tags: [passengers], summary: 'Phone-exact passenger lookup (Bearer; any signed-in user) — used by the post-trip form to prefill the passenger name. Returns the passenger + referred_by, or 404 if no row exists for that phone.', parameters: [{ name: phone, in: query, required: true, schema: { type: string }, description: 'E.164, matched exactly' }], responses: { '200': { $ref: '#/components/responses/Envelope' }, '401': { $ref: '#/components/responses/Envelope' }, '404': { $ref: '#/components/responses/Envelope' }, '422': { $ref: '#/components/responses/Envelope' } } }
