{
  "openapi": "3.0.3",
  "info": {
    "title": "TripKing API",
    "version": "0.1.0",
    "description": "Outstation cab marketplace REST API. Wire format is snake_case; every response uses the envelope { success, data, meta?, error } (meta on lists, error non-null on failure). This document currently covers the /admin/* master-data endpoints (Phase 2); the marketplace endpoints follow in Phase 3."
  },
  "servers": [
    {
      "url": "https://api.tripking.in"
    }
  ],
  "tags": [
    {
      "name": "admin",
      "description": "Administration master-data (the configurable lookup tables — see §7 of the spec)."
    },
    {
      "name": "auth",
      "description": "Phone-OTP authentication."
    },
    {
      "name": "trips",
      "description": "Trip lifecycle."
    },
    {
      "name": "notifications",
      "description": "In-app inbox."
    },
    {
      "name": "vehicles",
      "description": "Driver vehicles."
    },
    {
      "name": "drivers",
      "description": "Driver profiles + the \"create my driver/agent profile\" route."
    },
    {
      "name": "agents",
      "description": "Agent (trip-manager) profiles."
    }
  ],
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Envelope": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {},
          "meta": {
            "type": "object",
            "nullable": true
          },
          "error": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ApiError"
              }
            ]
          }
        }
      }
    },
    "parameters": {
      "list": {
        "name": "list",
        "in": "path",
        "required": true,
        "description": "Which master-data list.",
        "schema": {
          "type": "string",
          "enum": [
            "car-types",
            "fuel-types",
            "vehicle-makes",
            "vehicle-models",
            "seat-options",
            "cities",
            "languages",
            "review-tags",
            "cancel-reasons"
          ]
        }
      },
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Row key — uuid for most lists, the value int for seat-options, the BCP-47 code for languages.",
        "schema": {
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "AdminKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Admin-Key",
        "description": "Required on every mutating /admin/* call. STOPGAP — becomes a role=admin bearer check once public.users + the auth backend land."
      }
    },
    "responses": {
      "Envelope": {
        "description": "Standard envelope response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Envelope"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/admin/{list}": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "List a master-data list (active rows by default)",
        "parameters": [
          {
            "$ref": "#/components/parameters/list"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "include soft-disabled rows (admin view)"
          },
          {
            "name": "make_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "vehicle-models only — filter to a make"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "review-tags only — filter to a vocabulary"
          },
          {
            "name": "applies_to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "cancel-reasons only"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Create a row",
        "security": [
          {
            "AdminKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/list"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "the row's columns (snake_case)"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/admin/{list}/{id}": {
      "patch": {
        "tags": [
          "admin"
        ],
        "summary": "Update a row (partial; include is_active to enable/disable)",
        "security": [
          {
            "AdminKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/list"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "summary": "Delete a row — 409 IN_USE if it is referenced (disable it instead)",
        "security": [
          {
            "AdminKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/list"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/admin/{list}/reorder": {
      "patch": {
        "tags": [
          "admin"
        ],
        "summary": "Reorder a list — sets sort_order = (index + 1) * 10",
        "security": [
          {
            "AdminKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/list"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "400": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/admin/app-settings": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Get the single-row platform config",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "put": {
        "tags": [
          "admin"
        ],
        "summary": "Update the platform config (partial)",
        "security": [
          {
            "AdminKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "min_vehicle_year": {
                    "type": "integer"
                  },
                  "vehicle_expiry_warning_days": {
                    "type": "integer"
                  },
                  "default_alert_radius_km": {
                    "type": "integer"
                  },
                  "default_commission_pct": {
                    "type": "number"
                  },
                  "default_gst_pct": {
                    "type": "number",
                    "description": "a percentage"
                  },
                  "default_driver_bata": {
                    "type": "number",
                    "description": "flat ₹ amount"
                  },
                  "default_extras_paid_by_passenger": {
                    "type": "boolean"
                  },
                  "default_driver_instructions": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/auth/request-otp": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Request an SMS OTP (DEV returns it)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone"
                ],
                "properties": {
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/auth/verify-otp": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Verify an OTP -> { user, access_token, refresh_token }",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone",
                  "otp"
                ],
                "properties": {
                  "phone": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "driver",
                      "trip_manager",
                      "admin"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Exchange a refresh token for a new pair",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refresh_token"
                ],
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Best-effort server logout (Bearer)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "The current user (Bearer)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips": {
      "get": {
        "tags": [
          "trips"
        ],
        "summary": "List trips",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_city_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to_city_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "posted_by_user_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "post": {
        "tags": [
          "trips"
        ],
        "summary": "Post a trip (Bearer)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from_city_id",
                  "to_city_id",
                  "pickup_at",
                  "car_type_id",
                  "expected_distance_km",
                  "rate_per_km"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}": {
      "get": {
        "tags": [
          "trips"
        ],
        "summary": "Get a trip",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}/applicants": {
      "get": {
        "tags": [
          "trips"
        ],
        "summary": "List applicants (poster/admin)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "post": {
        "tags": [
          "trips"
        ],
        "summary": "Apply to a trip (driver)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}/applicants/{aid}": {
      "delete": {
        "tags": [
          "trips"
        ],
        "summary": "Withdraw an application",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}/applicants/{aid}/reject": {
      "post": {
        "tags": [
          "trips"
        ],
        "summary": "Reject an applicant (poster/admin)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}/assign": {
      "post": {
        "tags": [
          "trips"
        ],
        "summary": "Assign a driver (poster/admin)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "acceptance_id"
                ],
                "properties": {
                  "acceptance_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}/start": {
      "post": {
        "tags": [
          "trips"
        ],
        "summary": "Start the trip (assigned driver) — verifies OTP",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "passenger_otp"
                ],
                "properties": {
                  "passenger_otp": {
                    "type": "string"
                  },
                  "start_odo_url": {
                    "type": "string"
                  },
                  "start_odo_reading": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}/complete": {
      "post": {
        "tags": [
          "trips"
        ],
        "summary": "Complete the trip (assigned driver)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}/cancel": {
      "post": {
        "tags": [
          "trips"
        ],
        "summary": "Cancel the trip (poster/admin)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cancel_reason_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "The caller's notifications (Bearer)",
        "parameters": [
          {
            "name": "unread_only",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/notifications/{id}": {
      "patch": {
        "tags": [
          "notifications"
        ],
        "summary": "Mark a notification read (own only; Bearer)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "is_read": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/notifications/read-all": {
      "post": {
        "tags": [
          "notifications"
        ],
        "summary": "Mark all the caller's notifications read (Bearer)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/vehicles": {
      "get": {
        "tags": [
          "vehicles"
        ],
        "summary": "List vehicles (eligibility_status derived)",
        "parameters": [
          {
            "name": "driver_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "post": {
        "tags": [
          "vehicles"
        ],
        "summary": "Add a vehicle (driver; Bearer)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "car_type_id",
                  "year"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/vehicles/{id}": {
      "get": {
        "tags": [
          "vehicles"
        ],
        "summary": "Get a vehicle",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "patch": {
        "tags": [
          "vehicles"
        ],
        "summary": "Update a vehicle (owning driver/admin)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "delete": {
        "tags": [
          "vehicles"
        ],
        "summary": "Delete a vehicle (owning driver/admin)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/drivers": {
      "get": {
        "tags": [
          "drivers"
        ],
        "summary": "List driver profiles (public) — joins home/current city + vehicle summaries",
        "parameters": [
          {
            "name": "current_city_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kyc_status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "post": {
        "tags": [
          "drivers"
        ],
        "summary": "Create my driver profile (Bearer; user_id = caller). Pass role=trip_manager to create an agent profile instead. Idempotent — returns the existing profile if one already exists.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "driver",
                      "trip_manager"
                    ]
                  },
                  "home_city_id": {
                    "type": "string"
                  },
                  "current_city_id": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "profile_photo_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/drivers/{id}": {
      "get": {
        "tags": [
          "drivers"
        ],
        "summary": "Get a driver profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "patch": {
        "tags": [
          "drivers"
        ],
        "summary": "Update a driver profile (owner/admin; Bearer) — full_name, email, home_city_id, current_city_id, profile_photo_url",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "home_city_id": {
                    "type": "string"
                  },
                  "current_city_id": {
                    "type": "string"
                  },
                  "profile_photo_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/drivers/{id}/location": {
      "patch": {
        "tags": [
          "drivers"
        ],
        "summary": "Update a driver's current location (owner; Bearer)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "current_city_id": {
                    "type": "string"
                  },
                  "current_lat": {
                    "type": "number"
                  },
                  "current_lng": {
                    "type": "number"
                  },
                  "current_location_at": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/agents": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "List agent (trip-manager) profiles (public)",
        "parameters": [
          {
            "name": "business_city_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kyc_status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Create my agent profile (Bearer; user_id = caller; users.role → trip_manager). Idempotent.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string"
                  },
                  "business_name": {
                    "type": "string"
                  },
                  "business_city_id": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "profile_photo_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/agents/{id}": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get an agent profile (joins business city)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "patch": {
        "tags": [
          "agents"
        ],
        "summary": "Update an agent profile (owner/admin; Bearer) — full_name, email, business_name, business_city_id, profile_photo_url",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "business_name": {
                    "type": "string"
                  },
                  "business_city_id": {
                    "type": "string"
                  },
                  "profile_photo_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    }
  }
}
