{
  "openapi": "3.0.3",
  "info": {
    "title": "TripKing API",
    "version": "0.1.0",
    "description": "Outstation cab marketplace REST API. Wire format is snake_case; every response uses the envelope { success, data, meta?, error } (meta on lists, error non-null on failure). This document currently covers the /admin/* master-data endpoints (Phase 2); the marketplace endpoints follow in Phase 3."
  },
  "servers": [
    {
      "url": "https://api.tripking.in"
    }
  ],
  "tags": [
    {
      "name": "admin",
      "description": "Administration master-data (the configurable lookup tables — see §7 of the spec)."
    },
    {
      "name": "auth",
      "description": "Phone-OTP authentication."
    },
    {
      "name": "trips",
      "description": "Trip lifecycle."
    },
    {
      "name": "notifications",
      "description": "In-app inbox."
    },
    {
      "name": "vehicles",
      "description": "Driver vehicles."
    },
    {
      "name": "drivers",
      "description": "Driver profiles + the \"create my driver/agent profile\" route."
    },
    {
      "name": "agents",
      "description": "Agent (trip-manager) profiles."
    },
    {
      "name": "vacancies",
      "description": "Driver availability posts (driver is in city X, willing to drive to one of these destinations)."
    },
    {
      "name": "alerts",
      "description": "Saved searches that fire a notification on a matching trip/vacancy (owner-scoped)."
    },
    {
      "name": "reviews",
      "description": "Post-trip ratings (passenger→driver, manager→driver, driver→manager)."
    },
    {
      "name": "analytics",
      "description": "Server-computed analytics — the platform dashboard (admin), per-agent analytics, and the API-metrics rollup (admin)."
    },
    {
      "name": "places",
      "description": "Maps-backed locations — a server-side geocoder proxy (search) and find-or-create for a places row."
    }
  ],
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Envelope": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {},
          "meta": {
            "type": "object",
            "nullable": true
          },
          "error": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ApiError"
              }
            ]
          }
        }
      }
    },
    "parameters": {
      "list": {
        "name": "list",
        "in": "path",
        "required": true,
        "description": "Which master-data list.",
        "schema": {
          "type": "string",
          "enum": [
            "car-types",
            "fuel-types",
            "vehicle-makes",
            "vehicle-models",
            "seat-options",
            "cities",
            "languages",
            "review-tags",
            "cancel-reasons"
          ]
        }
      },
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Row key — uuid for most lists, the value int for seat-options, the BCP-47 code for languages.",
        "schema": {
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase access token from POST /auth/verify-otp. Authenticated endpoints validate it; every mutating /admin/* call additionally requires users.role === 'admin'."
      }
    },
    "responses": {
      "Envelope": {
        "description": "Standard envelope response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Envelope"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/admin/{list}": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "List a master-data list (active rows by default)",
        "parameters": [
          {
            "$ref": "#/components/parameters/list"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "include soft-disabled rows (admin view)"
          },
          {
            "name": "make_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "vehicle-models only — filter to a make"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "review-tags only — filter to a vocabulary"
          },
          {
            "name": "applies_to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "cancel-reasons only"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Create a row",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/list"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "the row's columns (snake_case)"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/admin/{list}/{id}": {
      "patch": {
        "tags": [
          "admin"
        ],
        "summary": "Update a row (partial; include is_active to enable/disable)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/list"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "summary": "Delete a row — 409 IN_USE if it is referenced (disable it instead)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/list"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/admin/{list}/reorder": {
      "patch": {
        "tags": [
          "admin"
        ],
        "summary": "Reorder a list — sets sort_order = (index + 1) * 10",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/list"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "400": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/admin/app-settings": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Get the single-row platform config",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "put": {
        "tags": [
          "admin"
        ],
        "summary": "Update the platform config (partial)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "min_vehicle_year": {
                    "type": "integer"
                  },
                  "vehicle_expiry_warning_days": {
                    "type": "integer"
                  },
                  "default_alert_radius_km": {
                    "type": "integer"
                  },
                  "default_commission_pct": {
                    "type": "number"
                  },
                  "default_gst_pct": {
                    "type": "number",
                    "description": "a percentage"
                  },
                  "default_driver_bata": {
                    "type": "number",
                    "description": "flat ₹ amount"
                  },
                  "default_extras_paid_by_passenger": {
                    "type": "boolean"
                  },
                  "default_driver_instructions": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/auth/request-otp": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Request an SMS OTP — PLACEHOLDER (no SMS provider yet): always succeeds and returns the dev OTP \"12345\" in dev_otp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone"
                ],
                "properties": {
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/auth/verify-otp": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Verify an OTP → { user, access_token, refresh_token } (dev: accepts \"12345\" or any 4–6 digit code; role:admin is dev-only)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone",
                  "otp"
                ],
                "properties": {
                  "phone": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "driver",
                      "trip_manager",
                      "admin"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Exchange a refresh token for a new pair",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refresh_token"
                ],
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Best-effort server logout (Bearer)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "The current user (Bearer)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips": {
      "get": {
        "tags": [
          "trips"
        ],
        "summary": "List trips - each row carries the assigned driver (with live position) + the joined from_place/to_place. status=in_progress&posted_by_user_id=<me> is a trip manager’s live-trips map; assigned_driver_id=me (Bearer) is \"the trips I’m driving\"; in-progress trips also get distance_to_destination_km. When near_lat+near_lng+radius_km are all given, the list is restricted to trips whose pickup point (from_place → from_city fallback) is within radius_km (capped at 100), nearest first, each row carrying distance_km.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "one value or a CSV (e.g. open,has_applicants)"
          },
          {
            "name": "from_city_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to_city_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "posted_by_user_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assigned_driver_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "a driver uuid (public), or the literal \"me\" - needs a Bearer; resolves to the caller’s driver profile (the trips assigned to you)"
          },
          {
            "name": "near_lat",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "near_lng",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "radius_km",
            "in": "query",
            "schema": {
              "type": "number",
              "maximum": 100
            },
            "description": "radius search - all three of near_lat/near_lng/radius_km must be present"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "post": {
        "tags": [
          "trips"
        ],
        "summary": "Post a trip (Bearer) - from_place_id / to_place_id accepted alongside from_city_id / to_city_id (both coexist; *_place_id is the new primary path; a bad place id → 422); total_fare computed if omitted; driver_payout via trigger; matching active alerts get an alert_match notification. Per-user rate-limited (429 RATE_LIMITED on excess).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from_city_id",
                  "to_city_id",
                  "pickup_at",
                  "car_type_id",
                  "expected_distance_km",
                  "rate_per_km"
                ],
                "properties": {
                  "from_place_id": {
                    "type": "string"
                  },
                  "to_place_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          },
          "429": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/applied": {
      "get": {
        "tags": [
          "trips"
        ],
        "summary": "My applications (driver; Bearer) — the caller's own trip_acceptances, newest first, each with its joined trip (from/to city, car type). The poster-only GET /trips/{id}/applicants is for the other side; this is the driver's view of where they've applied. Empty array if the caller has no driver profile.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}": {
      "get": {
        "tags": [
          "trips"
        ],
        "summary": "Get a trip — joined (assigned driver with live position; distance_to_destination_km when in_progress). passenger_otp_hash is always stripped; the plaintext passenger_otp is echoed ONLY when the caller is the trip poster (Bearer; auth.uid() = posted_by_user_id) or an admin — so the poster can re-open the passenger-portal link any time.",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}/applicants": {
      "get": {
        "tags": [
          "trips"
        ],
        "summary": "List applicants (poster/admin)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "post": {
        "tags": [
          "trips"
        ],
        "summary": "Apply to a trip (driver) — per-user rate-limited (429 RATE_LIMITED on excess)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          },
          "429": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}/applicants/{aid}": {
      "delete": {
        "tags": [
          "trips"
        ],
        "summary": "Withdraw an application",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}/applicants/{aid}/reject": {
      "post": {
        "tags": [
          "trips"
        ],
        "summary": "Reject an applicant (poster/admin)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}/assign": {
      "post": {
        "tags": [
          "trips"
        ],
        "summary": "Assign a driver (poster/admin)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "acceptance_id"
                ],
                "properties": {
                  "acceptance_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}/start": {
      "post": {
        "tags": [
          "trips"
        ],
        "summary": "Start the trip (assigned driver) — verifies OTP",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "passenger_otp"
                ],
                "properties": {
                  "passenger_otp": {
                    "type": "string"
                  },
                  "start_odo_url": {
                    "type": "string"
                  },
                  "start_odo_reading": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}/complete": {
      "post": {
        "tags": [
          "trips"
        ],
        "summary": "Complete the trip (assigned driver)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/{id}/cancel": {
      "post": {
        "tags": [
          "trips"
        ],
        "summary": "Cancel the trip (poster/admin)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cancel_reason_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "The caller's notifications (Bearer)",
        "parameters": [
          {
            "name": "unread_only",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/notifications/{id}": {
      "patch": {
        "tags": [
          "notifications"
        ],
        "summary": "Mark a notification read (own only; Bearer)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "is_read": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/notifications/read-all": {
      "post": {
        "tags": [
          "notifications"
        ],
        "summary": "Mark all the caller's notifications read (Bearer)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/vehicles": {
      "get": {
        "tags": [
          "vehicles"
        ],
        "summary": "List vehicles (eligibility_status derived) — eligibility / needs_attention drive the admin eligibility dashboard",
        "parameters": [
          {
            "name": "driver_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "eligibility",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "CSV of eligible|expiring_soon|expired"
          },
          {
            "name": "needs_attention",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "true ⇒ only vehicles whose eligibility_status ≠ eligible"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "post": {
        "tags": [
          "vehicles"
        ],
        "summary": "Add a vehicle (driver; Bearer)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "car_type_id",
                  "year"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/vehicles/{id}": {
      "get": {
        "tags": [
          "vehicles"
        ],
        "summary": "Get a vehicle",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "patch": {
        "tags": [
          "vehicles"
        ],
        "summary": "Update a vehicle (owning driver/admin)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "delete": {
        "tags": [
          "vehicles"
        ],
        "summary": "Delete a vehicle (owning driver/admin)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/drivers": {
      "get": {
        "tags": [
          "drivers"
        ],
        "summary": "List driver profiles (public) - joins home/current city + vehicle summaries; kyc_status accepts a CSV (the admin KYC queue). When near_lat+near_lng+radius_km are all given, the list is restricted to drivers whose (non-stale, ≤30 min old) current position is within radius_km (capped at 100), nearest first, each row carrying distance_km.",
        "parameters": [
          {
            "name": "current_city_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kyc_status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "one value or a CSV - e.g. docs_submitted,video_pending"
          },
          {
            "name": "near_lat",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "near_lng",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "radius_km",
            "in": "query",
            "schema": {
              "type": "number",
              "maximum": 100
            },
            "description": "radius search - all three of near_lat/near_lng/radius_km must be present"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "post": {
        "tags": [
          "drivers"
        ],
        "summary": "Create my driver profile (Bearer; user_id = caller). Pass role=trip_manager to create an agent profile instead. Idempotent — returns the existing profile if one already exists.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "driver",
                      "trip_manager"
                    ]
                  },
                  "home_city_id": {
                    "type": "string"
                  },
                  "current_city_id": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "profile_photo_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/drivers/{id}": {
      "get": {
        "tags": [
          "drivers"
        ],
        "summary": "Get a driver profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "patch": {
        "tags": [
          "drivers"
        ],
        "summary": "Update a driver profile (owner/admin; Bearer) — full_name, email, home_city_id, current_city_id, profile_photo_url",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "home_city_id": {
                    "type": "string"
                  },
                  "current_city_id": {
                    "type": "string"
                  },
                  "profile_photo_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/drivers/{id}/location": {
      "patch": {
        "tags": [
          "drivers"
        ],
        "summary": "Update a driver's current location (owner; Bearer)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "current_city_id": {
                    "type": "string"
                  },
                  "current_lat": {
                    "type": "number"
                  },
                  "current_lng": {
                    "type": "number"
                  },
                  "current_location_at": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/agents": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "List agent (trip-manager) profiles (public)",
        "parameters": [
          {
            "name": "business_city_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kyc_status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Create my agent profile (Bearer; user_id = caller; users.role → trip_manager). Idempotent.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string"
                  },
                  "business_name": {
                    "type": "string"
                  },
                  "business_city_id": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "profile_photo_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/agents/{id}": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get an agent profile (joins business city)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "patch": {
        "tags": [
          "agents"
        ],
        "summary": "Update an agent profile (owner/admin; Bearer) — full_name, email, business_name, business_city_id, profile_photo_url",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "business_name": {
                    "type": "string"
                  },
                  "business_city_id": {
                    "type": "string"
                  },
                  "profile_photo_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/vacancies": {
      "get": {
        "tags": [
          "vacancies"
        ],
        "summary": "List vacancies (public) - joins driver+vehicle summary, current_city/current_place, and destination cities + places (vacancy_destinations: [{ city, place }]). When near_lat+near_lng+radius_km are all given, restricted to vacancies whose current point (current_place → current_city fallback) is within radius_km (capped at 100), nearest first, each row carrying distance_km.",
        "parameters": [
          {
            "name": "current_city_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination_city_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination_place_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driver_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "near_lat",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "near_lng",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "radius_km",
            "in": "query",
            "schema": {
              "type": "number",
              "maximum": 100
            },
            "description": "radius search - all three of near_lat/near_lng/radius_km must be present"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "post": {
        "tags": [
          "vacancies"
        ],
        "summary": "Post a vacancy (driver; Bearer) - driver_id = the caller; current_place_id accepted alongside current_city_id; destination_place_ids and/or destination_city_ids → vacancy_destinations rows (a bad place id → 422); matching active alerts get an alert_match notification. Per-user rate-limited (429 RATE_LIMITED on excess).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "current_city_id"
                ],
                "properties": {
                  "current_city_id": {
                    "type": "string"
                  },
                  "current_place_id": {
                    "type": "string"
                  },
                  "vehicle_id": {
                    "type": "string"
                  },
                  "available_from": {
                    "type": "string"
                  },
                  "available_until": {
                    "type": "string"
                  },
                  "destination_city_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "destination_place_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "min_rate_per_km": {
                    "type": "number"
                  },
                  "notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          },
          "429": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/vacancies/{id}": {
      "get": {
        "tags": [
          "vacancies"
        ],
        "summary": "Get a vacancy",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/vacancies/{id}/cancel": {
      "post": {
        "tags": [
          "vacancies"
        ],
        "summary": "Cancel a vacancy (owning driver/admin; Bearer)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/alerts": {
      "get": {
        "tags": [
          "alerts"
        ],
        "summary": "List my alerts (Bearer) - joins from/to city + from/to place",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "post": {
        "tags": [
          "alerts"
        ],
        "summary": "Create an alert (Bearer; user_id = caller) - from_city_id required; from_place_id / to_place_id accepted alongside from_city_id / to_city_id (a bad place id → 422). Posting a trip/vacancy inside the alert’s radius (and matching its other filters) fires an alert_match notification to the owner. Per-user rate-limited (429 RATE_LIMITED on excess).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from_city_id"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "from_city_id": {
                    "type": "string"
                  },
                  "from_place_id": {
                    "type": "string"
                  },
                  "from_radius_km": {
                    "type": "integer"
                  },
                  "to_city_id": {
                    "type": "string"
                  },
                  "to_place_id": {
                    "type": "string"
                  },
                  "to_radius_km": {
                    "type": "integer"
                  },
                  "min_rate_per_km": {
                    "type": "number"
                  },
                  "min_commission_pct": {
                    "type": "number"
                  },
                  "car_type_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "pickup_window_start": {
                    "type": "string"
                  },
                  "pickup_window_end": {
                    "type": "string"
                  },
                  "notify_via": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "push",
                        "sms",
                        "email",
                        "in_app"
                      ]
                    },
                    "description": "only in_app is delivered today; push/sms/email are recorded but no-op. An alert that doesn’t include in_app gets no notification yet."
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          },
          "429": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/alerts/{id}": {
      "get": {
        "tags": [
          "alerts"
        ],
        "summary": "Get an alert (owner/admin; Bearer) - joins from/to city + from/to place",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "patch": {
        "tags": [
          "alerts"
        ],
        "summary": "Update an alert (owner; Bearer) - partial; include from_place_id/to_place_id and/or is_active/paused_at to pause/resume (a bad place id → 422)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from_place_id": {
                    "type": "string"
                  },
                  "to_place_id": {
                    "type": "string"
                  },
                  "is_active": {
                    "type": "boolean"
                  },
                  "paused_at": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "delete": {
        "tags": [
          "alerts"
        ],
        "summary": "Delete an alert (owner; Bearer)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/reviews": {
      "get": {
        "tags": [
          "reviews"
        ],
        "summary": "List reviews (published rows + the caller's own when authed; admins see all). flagged=true (admin) = the moderation queue",
        "parameters": [
          {
            "name": "trip_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ratee_user_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "passenger_to_driver",
                "manager_to_driver",
                "driver_to_manager"
              ]
            }
          },
          {
            "name": "flagged",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "admin only — return is_flagged rows (the moderation queue)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      },
      "post": {
        "tags": [
          "reviews"
        ],
        "summary": "Post a review (Bearer; rater_user_id = caller) — the trip must be completed; unique (trip_id, direction); ratee_user_id derived from the trip if omitted; fires a review_received notification. Per-user rate-limited (429 RATE_LIMITED on excess).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "trip_id",
                  "direction",
                  "score"
                ],
                "properties": {
                  "trip_id": {
                    "type": "string"
                  },
                  "direction": {
                    "type": "string",
                    "enum": [
                      "passenger_to_driver",
                      "manager_to_driver",
                      "driver_to_manager"
                    ]
                  },
                  "score": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "comment": {
                    "type": "string"
                  },
                  "tag_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "ratee_user_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          },
          "409": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          },
          "429": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/reviews/{id}/report": {
      "post": {
        "tags": [
          "reviews"
        ],
        "summary": "Report a review (any authed user; Bearer) — sets is_flagged + flag_reason",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "flag_reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/reviews/{id}": {
      "get": {
        "tags": [
          "reviews"
        ],
        "summary": "Get a review (published, or own, or admin)",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/drivers/{id}/kyc": {
      "patch": {
        "tags": [
          "drivers"
        ],
        "summary": "Move a driver through the KYC workflow (admin; Bearer) — fires a kyc_status_change notification",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kyc_status"
                ],
                "properties": {
                  "kyc_status": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "docs_submitted",
                      "video_pending",
                      "approved",
                      "rejected",
                      "resubmit_required"
                    ]
                  },
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/agents/{id}/kyc": {
      "patch": {
        "tags": [
          "agents"
        ],
        "summary": "Move an agent through the KYC workflow (admin; Bearer) — fires a kyc_status_change notification",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kyc_status"
                ],
                "properties": {
                  "kyc_status": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "docs_submitted",
                      "video_pending",
                      "approved",
                      "rejected",
                      "resubmit_required"
                    ]
                  },
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/reviews/{id}/moderate": {
      "post": {
        "tags": [
          "reviews"
        ],
        "summary": "Moderate a review (admin; Bearer) — set is_published and/or clear the flag; records moderated_by/moderated_at",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "is_published": {
                    "type": "boolean"
                  },
                  "clear_flag": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/analytics/admin": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Platform dashboard (admin; Bearer) — server-computed counts/sums (users by role, drivers by KYC, vehicles by eligibility, trips by status, completed-fare/commission sums, flagged reviews, monthly trip series, …)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/analytics/agent": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Agent analytics (Bearer) — the caller's own, or ?user_id=<id> for admins. Trips posted/by-status, fare totals, applicants received, unique drivers used, reviews received, a 6-month series.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "admin only — a specific agent's user id (defaults to the caller)"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/analytics/api-metrics": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "API metrics rollup (admin; Bearer) — per-endpoint request count, error count (status >= 500), avg/max/p95 latency over the last `hours` (default 24, max 720), plus the window bounds.",
        "parameters": [
          {
            "name": "hours",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 24,
              "minimum": 1,
              "maximum": 720
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "403": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/places/search": {
      "get": {
        "tags": [
          "places"
        ],
        "summary": "Geocoder search (public) — server-side proxy to the configured provider (PLACES_PROVIDER + PLACES_API_KEY; biased to India). Does not persist. Per-IP rate-limited; responses carry Cache-Control. data is an array of { provider, providerPlaceId, name, formattedAddress, state, lat, lng }. Returns [] when the provider is unconfigured or upstream is unavailable; q shorter than 2 chars → [].",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "free-text query (≥ 2 chars)"
          },
          {
            "name": "near_lat",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "optional proximity bias (with near_lng)"
          },
          {
            "name": "near_lng",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 6,
              "minimum": 1,
              "maximum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "429": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/places": {
      "post": {
        "tags": [
          "places"
        ],
        "summary": "Find-or-create a place (public) — match by (provider, providerPlaceId), else by a ~5dp lat/lng + provider match; otherwise insert. Returns the stored Place (snake_case row, incl. id). Per-IP rate-limited.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "name",
                  "lat",
                  "lng"
                ],
                "properties": {
                  "provider": {
                    "type": "string"
                  },
                  "providerPlaceId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "formattedAddress": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "lat": {
                    "type": "number"
                  },
                  "lng": {
                    "type": "number"
                  },
                  "cityId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "422": {
            "$ref": "#/components/responses/Envelope"
          },
          "429": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/drivers/me": {
      "get": {
        "tags": [
          "drivers"
        ],
        "summary": "Get the caller's own driver profile (Bearer; joined like /drivers/{id}). 404 if the caller has no driver profile yet.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/agents/me": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get the caller's own agent profile (Bearer; joined like /agents/{id}). 404 if the caller has no agent profile yet.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    },
    "/trips/by-otp/{otp}": {
      "get": {
        "tags": [
          "trips"
        ],
        "summary": "Get the trip for a passenger OTP (public — the passenger portal) — joins the assigned driver (with live position) + vehicle; distance_to_destination_km when in_progress; fare fields nulled when show_fare_to_passenger is false; passenger_otp_hash never echoed",
        "parameters": [
          {
            "name": "otp",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "404": {
            "$ref": "#/components/responses/Envelope"
          }
        }
      }
    }
  }
}
